@charset "utf-8";
$background-color: #fafafa;
$color: #a3e6ff;

header {
  .user__info__panel {
    margin-top: .1rem;
    display: flex;
    #userName {
      margin-left: 1rem;
      padding: .1rem;
      border: .4rem double #52432a;
      border-radius: .8rem;
      font-family: "Mochiy Pop One", sans-serif;
      font-weight: 400;
      font-style: normal;
      color: #2c0711;
      background-color: #9f8353;
    }
  }
  h1 {
    font-size: 2rem;
    text-align: center;
  }
}

body {
  background-color: $background-color;
  min-height: 100vh; /*画面の高さの最小値を指定*/
  display: flex;
  flex-direction: column;
  main {
    flex-grow: 1;
    margin: 1rem, auto;
    padding: 1rem;
  }
}
