main {
    .game__content__panel {
        width: 60vw;
        height: 60vh;
        margin: 0 auto;
        padding: 1rem;
        background-color: lightblue;// FIXME: 開発後は削除する
        .left__items__panel {
            width: 60%;
            height: 100%;
            display: flex;
            position: relative;
            align-items: center;
            .top__button, .left__button, .right__button {
                display: block;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
            }
            .top__button {
                clip-path: polygon(0 0, 100% 0, 100% 21%, 50% 50%, 0 21%);
                background-color: lightcoral;// FIXME: 開発後は削除する
            }
            .left__button {
                clip-path: polygon(0 22%, 50% 50%, 50% 100%, 0 100%);
                background-color: lightgreen;// FIXME: 開発後は削除する
            }
            .right__button {
                clip-path: polygon(50% 50%, 100% 22%, 100% 100%, 50% 100%);
                background-color: pink;// FIXME: 開発後は削除する
            }
        }
    }
    .event__info__panel {
        display: none;
        position: absolute;
        width: 60vw;
        height: 20vh;
        margin: 0 auto;
        padding: 1rem;
        background-color: lightgray;// FIXME: 開発後は削除する
    }
}
